
h2{
  text-align: center;
  font-weight: bold;
  font-style:normal;
  
}
.container {
  width: 300px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 90px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  
}
.container registrationForm {
  width: 300px; /* Formun genişliğini istediğiniz değerle değiştirin */
  
}
  
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff; /* Facebook için */
  color: #082b8d;
  text-decoration: none;
  margin-right: 10px;
  font-style:italic;
  box-shadow: 0 2px 4px rgba(172, 38, 154, 0.952); /* Dış çeperi belirleyen box-shadow */
}
.btn.google {
  background-color: #ffffff; /* Google için */
  color: #DB4437;
  font-weight: bold;


    }
.btn.yahoo {
  background-color: #ffffff; /* Yahoo için */
  color: #720E9E;
  font-weight: bold;

   }
  
.form-control {
    width: 300px;
    height: 40px;
    
  }
  
  #registrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;

  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    margin-top: 10px;
  }
  
  #name, #confirm_password, #email, #password, #button_create{
    border-radius: 30px;
    width: 300px;
    background-color: rgba(75, 31, 31, 0.068);
    

  }
 
  #button_create{
    background-color: rgba(178, 74, 219, 0.651);
    

  }

  @media (max-width: 768px) {
  /* Cep telefonu için stil kuralları buraya gelecek */
  .container {
    width: 100%;
    padding: 10px;
  }
}
  @media(max-width:992px){
    .container{
      width: 100%;
    padding: 10px;
    }
  }


  